<h1>{{title}}</h1>
<!--<form action="prueba_recibe.php" method="GET">-->

<form action="pueba_recibe.php" method="GET">

    <label>Device label:</label>
    <input type="text" name="device_label"><br>

    <label>Temperature:</label>
    <input type="text" name="temperature"><br>

    <label>Humidity:</label>
    <input type="text" name="humidity"><br>


    <input type="submit" value="Send Data">


</form>


<p>Welcome to {{title}}</p>